<%- include('partials/header.ejs') %>
<main class="container">
    <div class="hero">
        <img class="hero-img" src="images/playing-bass-color.png">
        <div class="hero-blurb">
            <h1 classs="">Hi, I'm Tyler Jones.</h1>
            <p>I work in libraries, and I enjoy coding. Check out my <a href="/tyler-jones-resume.pdf">resume</a> and
                some of my <a href="#projects">projects</a>.
                Thanks for stopping by. 👍</p>
            <div class="social-media-blurb">
                <span><a class="social-media-icon" href="mailto:tjjones93@gmail.com" target="_blank" rel="noopener"><i
                            class="fas fa-envelope-square"></i></a></span>
                <span><a class="social-media-icon" href="https://github.com/PoorBillyPilgrim" target="_blank"
                        rel="noopener"><i class="fab fa-github"></i></a></span>
                <span><a class="social-media-icon" href="https://www.linkedin.com/in/tyler-jones-2a0a84143/"><i
                            class="fab fa-linkedin"></i></a></span>
            </div>

        </div>
    </div>
    <hr>
    <div class="main-contents">
        <div id="projects">
            <h2>_projects</h2>
            <div class="projects-container">
                <% projects.forEach(project => { %>
                <div class="projects-card projects-card-dark">
                    <a href=<%= project.url %> target="_blank"><img class="projects-img"
                            src="/images/projects/<%= project.img%>"></a>
                    <h3 class="projects-card-item"><a href=<%= project.url%> target="_blank"><%= project.title %></a>
                    </h3>
                    <p class="projects-card-item"><%= project.description%></p>
                    <p class="projects-card-item"><em><%= project.techUsed%></em></p>
                    <span class="projects-card-item"><a class="social-media-icon" href=<%= project.gitHubUrl%>
                            target="_blank" rel="noopener"><i class="fab fa-github"></i></a></span>
                </div>
                <% }) %>
            </div>
        </div>
        <div id="notes">
            <h2>_notes</h2>
            <div class="notes-container">
                <% notes.forEach(note => { %>
                <h3><a href="/notes/<%= note.slug%>"><%= note.title %></a></h3>
                <% }) %>

            </div>
        </div>
    </div>

</main>
<%- include('partials/footer.ejs') %>